Repository CS130-W20/fuse-mobile-app, pull requests merged in 2020-03, with the labels that each got.

#88 Add profile header data fetching
  .gitignore
  package-lock.json
  src/containers/ProfileContainer.jsx
  src/graphql/GeneralQueries.js
  src/navigation/AppTabNavigator.jsx
  src/navigation/ScreenIds.js
  src/navigation/Screens.jsx
  src/screens/EditProfileDetailsScreen.jsx
  src/screens/LightFuse.jsx
  src/screens/NewFuse.jsx
  src/screens/SettingsScreen.jsx
  src/screens/styles/EditProfileDetailsScreenStyles.js
  src/screens/styles/SettingsScreenStyles.js
  src/styles/colors/index.js
Labels: User Profile

#92 create modals for Light Fuse and Complete Fuse pages
  src/components/fields/Multiselect.jsx
  src/navigation/ScreenIds.js
  src/navigation/Screens.jsx
  src/screens/LightFuse.jsx
  src/screens/NewFuse.jsx
  src/screens/SizzleFuse.jsx
Labels: Event Engine

#93 added search cancellation; fix tile styling
  README.md
  src/components/EventTile.jsx
  src/components/FriendTile.jsx
  src/components/styles/EventTileStyles.js
  src/components/styles/FriendTileStyles.js
  src/components/styles/FuseTileButtonStyles.js
  src/components/styles/ProfileHeaderStyles.js
  src/containers/ExploreContainer.jsx
  src/containers/ProfileContainer.jsx
  src/containers/styles/ProfileContainerStyles.js
  src/navigation/AppTabNavigator.jsx
Labels: Explore, News Feed

#94 Adjust queries to use "me" instead of user
  src/containers/ProfileContainer.jsx
  src/graphql/GeneralQueries.js
Labels: User Profile

#98 Friend button on profile. Dynamic profile container can now show friend profiles
  src/components/FriendButton.jsx
  src/components/styles/FriendButtonStyles.js
  src/constants.js
  src/containers/ProfileContainer.jsx
  src/containers/styles/ProfileContainerStyles.js
  src/graphql/GeneralQueries.js
Labels: Friend Management, User Profile

#105 Connect Search Frontend with Backend
  src/components/EventTile.jsx
  src/components/FriendTile.jsx
  src/components/FuseTileButton.jsx
  src/components/SearchBar.jsx
  src/components/styles/FriendTileStyles.js
  src/containers/ExploreContainer.jsx
  src/containers/NewsFeedContainer.jsx
  src/graphql/GeneralQueries.js
  src/navigation/RootAppRouter.jsx
Labels: Explore

#106 Add navigation to event engine from event tiles
  src/components/EventTile.jsx
  src/components/FuseTileButton.jsx
Labels: Event Engine, News Feed

#110 Adjust profile picture styling. Not fully fixed
  src/components/buttons/ImageUploadButton.jsx
  src/components/styles/NewFuseButtonStyles.js
  src/components/styles/ProfileHeaderStyles.js
Labels: User Profile

#113 Add true friend operations on profile
  src/components/FriendButton.jsx
  src/constants.js
  src/containers/ProfileContainer.jsx
  src/graphql/GeneralQueries.js
Labels: Friend Management, User Profile

#115 Fetch event details for set fuses.
  src/components/EventTile.jsx
  src/components/FuseTileButton.jsx
  src/components/testers/SetFuseDetailsTest.jsx
  src/containers/NewsFeedContainer.jsx
  src/graphql/GeneralQueries.js
  src/navigation/ScreenIds.js
  src/navigation/Screens.jsx
Labels: Event Engine

#117 Update styling for new fuse page, updated styles for news container
  src/containers/NewsFeedContainer.jsx
  src/containers/styles/NewsFeedContainerStyles.js
  src/screens/NewFuse.jsx
  src/screens/styles/NewFuseStyles.js
Labels: Event Engine

#118 fix date selection to use updated module
  src/screens/NewFuse.jsx
  src/screens/styles/NewFuseStyles.js
Labels: Event Engine

#120 Connect friends list fetching to profile header page
  src/components/ProfileHeader.jsx
  src/components/testers/FriendsListTest.jsx
  src/components/testers/SetFuseDetailsTest.jsx
  src/containers/ProfileContainer.jsx
  src/graphql/GeneralQueries.js
  src/navigation/ScreenIds.js
  src/navigation/Screens.jsx
  src/screens/styles/NewFuseStyles.js
Labels: Event Engine, Friend Management

#121 Create fuse form connected to create fuse mutator
  src/components/FuseSubmitButton.jsx
  src/components/NewFuseButton.jsx
  src/components/UserList.jsx
  src/components/fields/Multiselect.jsx
  src/containers/NewsFeedContainer.jsx
  src/graphql/GeneralQueries.js
  src/navigation/ScreenIds.js
  src/navigation/Screens.jsx
  src/screens/CreateFuse.jsx
  src/screens/styles/NewFuseStyles.js
Labels: Event Engine

#122 Join and leave event from test page (backend included!)
  src/components/testers/SetFuseDetailsTest.jsx
  src/graphql/GeneralQueries.js
Labels: Event Engine

#124 New set fuse details page, fetches from backend, join and leave.
  src/components/FriendTile.jsx
  src/components/FuseTileButton.jsx
  src/components/SetFuseDetails.jsx
  src/components/UserList.jsx
  src/components/styles/FriendTileStyles.js
  src/components/styles/SetFuseDetailsStyles.js
  src/components/testers/SetFuseDetailsTest.jsx
  src/helpers/Divider.jsx
  src/navigation/ScreenIds.js
  src/navigation/Screens.jsx
  src/screens/CreateFuse.jsx
Labels: Event Engine

#125 Colored button, styling updates. Refactor to create event container and set fuse component
  src/components/FuseSubmitButton.jsx
  src/components/FuseTileButton.jsx
  src/components/SetFuseDetails.jsx
  src/components/styles/SetFuseDetailsStyles.js
  src/containers/EventDetailsContainer.jsx
  src/containers/ProfileContainer.jsx
  src/navigation/ScreenIds.js
  src/navigation/Screens.jsx
Labels: Event Engine

#127 Light and unlight fuse
  src/components/LitFuseDetails.jsx
  src/components/SetFuseDetails.jsx
  src/graphql/GeneralQueries.js
Labels: Event Engine

#128 Refetch profile on view. Pretty friends list.
  src/components/FriendButton.jsx
  src/components/FriendsList.jsx
  src/components/ProfileHeader.jsx
  src/containers/ProfileContainer.jsx
  src/navigation/ScreenIds.js
  src/navigation/Screens.jsx
Labels: Friend Management, User Profile

#129 Schedule a lit event.
  src/components/LitFuseDetails.jsx
  src/components/SetFuseDetails.jsx
  src/components/datetime/CalendarDate.jsx
  src/containers/EventDetailsContainer.jsx
  src/graphql/GeneralQueries.js
Labels: Event Engine

#131 Add sparks award screen
  src/components/LitFuseDetails.jsx
  src/navigation/ScreenIds.js
  src/navigation/Screens.jsx
  src/screens/ScoreScreen.jsx
  src/screens/styles/ScoreScreenStyles.js
Labels: Event Engine, Score System

#132 Add back button to profile container
  src/containers/ProfileContainer.jsx
  src/containers/styles/ProfileContainerStyles.js
  src/screens/ProfileScreen.jsx
  src/screens/styles/ProfileScreenStyles.js
Labels: User Profile

#134 Circle profile images
  src/components/styles/EventTileStyles.js
Labels: Event Engine, Friend Management, User Profile

#135 Images images images images
  src/components/CompletedFuseDetails.jsx
  src/components/FriendTile.jsx
  src/components/LitFuseDetails.jsx
  src/components/SetFuseDetails.jsx
  src/helpers/index.js
Labels: Event Engine, Friend Management, User Profile

#136 pull to REFRESH
  App.jsx
  src/components/CompletedFuseDetails.jsx
  src/components/FriendTile.jsx
  src/components/LitFuseDetails.jsx
  src/components/SetFuseDetails.jsx
  src/containers/NewsFeedContainer.jsx
  src/helpers/index.js
Labels: News Feed
